.pad-container{
display: block;
position: absolute;
}

.containerProd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;

}
.displayCheckout {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}
.cards {
  padding: 10px;
}
.imgProd {
  max-width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
}
.descrCard {
  height: 65px;
}
.titleCard {
  height: 30px;
}
.contProd {
  display: flex;
}
.contProds {
  padding: 10px;
  flex-direction: row;
}
.productCart {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  width: 700px;
  border-radius: 0.25rem;
  background-color: white;
  color: #23272b;
}
.listGroupCart {
  width: 125%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  justify-content: space-between;
}
.navbar-container {
  height: 70px;
z-index: 1;
position: fixed !important;
width: 100% !important;

}
.navbar-links {
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-decoration: none;
  color: #c1c1c1 !important;
}
.navbar-links:hover {
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-decoration: none;
  color: #7e7e7e !important;
}
#navbar-dropdown {
  text-decoration: none;
  color: #c1c1c1;
  flex-direction: row;
  padding: 15px;
}
#navbar-links:hover {
  text-decoration: none;
  color: #7e7e7e;
  flex-direction: row;
  padding: 15px;
}
.dropdown-links {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-links:hover {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: #f2f4f5;
  border: 0;
}
/* Cart */

.cartContainer {
  border-radius: 0.25rem;
  border: 1px solid rgb(124, 124, 124);
  background-color: rgb(251, 251, 251);
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
}

.titleCart {
  text-align: center;
  margin: 10px;
}

.buttonsCart {
  display: flex;
  flex-direction: row;
  margin: 3px;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
}
.cart-buttons {
  color: #1d1d1d;
  width: 80px;
  height: 80px;
  padding: 0;
  border: 0;
  background: 0 0;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  z-index: 5;
  background-color: none !important;
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}
#totalCart {
  width: 150px;
  height: 60px;
  border-radius: 0.25rem;
  background-color: #23272b;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}
.subTotalCart {
  width: 500px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.loginForm {
  width: 50rem;
  margin: 5rem auto;
  padding: 3rem;
  border: solid 1px;
  border-color: #0f0f1a;
  border-radius: 0.25rem;
  background-color: #0f0f1a;
  opacity: 95%;
}
.titulo-login {
  color: white;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.login {
  background-image: url("fondo-login.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  display: flex;
}
#checkoutCart {
  font-weight: bold;
}
#totalCardCart {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#titleCart {
  font-weight: bold;
  margin-top: 3px;
}
.buttonSeparator {
  margin: 10px;
}
.buttonLoginRegister {
  margin: 10px;
  background-color: green !important;
  border-color: green !important;
}
.buttonManageUser {
  margin: 10px;
}
.search-button {
  color: #c1c1c1;
  width: 72px;
  height: 72px;
  padding: 0;
  border: 0;
  background: 0 0;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  z-index: 5;
  outline: none !important;
  box-shadow: none !important;
}
.search-button:hover {
  color: #7e7e7e;
  width: 72px;
  height: 72px;
  padding: 0;
  border: 0;
  background: 0 0;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  z-index: 5;
  outline: none !important;
  box-shadow: none !important;
}
.shoppingCart-icon {
  color: #c1c1c1;
  width: 30px;
  height: 30px;
  outline: none !important;
  box-shadow: none !important;
}
.textProductsForce {
  text-transform: capitalize;
}
.messagePasswordLogin {
  color: white;
}
.passwordLowSecure {
  color: red;
}
.passwordMediumSecure {
  color: yellow;
}
.passwordHighSecure {
  color: green;
}

.singlPro {
  margin-top: 10px;
  border: 1px solid rgb(124, 124, 124);
  background-color: rgb(253, 253, 253);

}

.cardsContainer {

  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  background-color: rgb(253, 253, 253);
}

.reviewCardCont {
  border: 1px solid rgb(124, 124, 124);
  padding: 30px; 
  width: 45%; 
  flex-wrap: nowrap;
  float: left;
  justify-content: center;
}

.inputRate{  
  display: flex;
  margin: 3%;
  flex-direction: column;


}
/* .input{ } */

.reviewCards {
  padding: 20px;
  border-radius: 30px;
}
.reviewCard {
  display: flex;
  margin: 3%;
  flex-direction: column;
}

.reviewCards {
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
  width: 80%;
  margin: 10px 10px 10px 10px;
}

.cardsContainerNL {
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.reviewCardsNL {
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
  width: 97%;
  margin: 10px 10px 10px 10px;
  float: left;
}

.calificar {
  justify-content: center;
}

.reviewCardCont {
  display: flex;
}

.rate{
  font-size: 150px;
}

.carousel {
  padding:15px 10px 10px 10px;
  margin: 0 auto;
}

.homeContainer {
  background-color: black;
}

.boton-verProductos {
  text-decoration: none;
  color: #c1c1c1;
}

.boton-verProductos:hover {
  text-decoration: none;
  color: #7e7e7e;
}
.cart {
  text-align: center;
  padding: 40px;
}
#imgNotFound {
  margin: auto;
  display: flex;
}
.thankyou {
  background-image: url();
}

.main-footer{
  color:#7e7e7e;
  background-color: rgb(18, 18, 26);
  padding-top: 1em;
  bottom: 0;
  width: 100%;

}


 .page-wrap{
flex: 1;
 }
#adminAbmButtons {
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: center;
}

/* CheckOut */
/* .checkCont{
} */

.checkProd {
  border: 1px solid rgb(124, 124, 124);
  margin: 0 auto;
  width: 30%;
}

.direCheck{
  margin: 0 auto;
  width: 60%;
  padding: 2px ;
}


#adminAbmButton {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-padding{
  padding-top: 70px !important;


}