.containerProd {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto 0;
}
.cards {
  padding: 10px;
}

.imgProd {
  max-width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
}

.descrCard {
  height: 100px;
}

.titleCard {
  height: 70px;
}
.contProd {
  display: flex;
}

.contProds {
  padding: 10px;
  flex-direction: row;
}

#productCart {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 700px;
  border-radius: 0.25rem;
  background-color: white;
}

#listGroupCart {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  justify-content: space-between;
}
.navbar-container {
  height: 70px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1 !important;
}
.navbar-links:hover {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #7e7e7e !important;
}
#navbar-dropdown {
  text-decoration: none;
  color: #c1c1c1;
}
#navbar-links:hover {
  text-decoration: none;
  color: #7e7e7e;
}

#cartContainer {
  border-radius: 0.25rem;
  background: #f6fff8;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  align-items: center;
}

#buttonsCart {
  display: flex;
  flex-direction: row;
  margin: 3px;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
}

#totalCart {
  width: 150px;
  height: 60px;
  border-radius: 0.25rem;
  background-color: #1923ae;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

#subTotalCart {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}
.loginForm {
  width: 50rem;
  margin: 5rem auto;
  /* margin-top: "5rem"; */
  padding: 3rem;
  border: solid 1px;
  border-color: #0f0f1a;
  border-radius: 0.25rem;
  background-color: #0f0f1a;
  opacity: 95%;
}

.titulo-login {
  color: white;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.login {
  background-image: url("fondo-login.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  display: flex;
}

.buttonSeparator{
  margin: 10px;

}
.buttonLoginRegister{
  margin: 10px;
  background-color: green !important;
border-color: green !important;
}
.search-button{
  color: #c1c1c1;
  width: 72px;
  height: 72px;
  padding: 0;
  border: 0;
  background: 0 0;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  z-index: 5;
  outline: none !important;
  box-shadow: none !important;
}

.search-button:hover {
  color: #7e7e7e;
  width: 72px;
  height: 72px;
  padding: 0;
  border: 0;
  background: 0 0;
  font-family: inherit;
  line-height: 0;
  cursor: pointer;
  z-index: 5;
  outline: none !important;
  box-shadow: none !important;
}

.shoppingCart-icon {
  color: #c1c1c1;
  width: 30px;
  height: 30px;
  outline: none !important;
  box-shadow: none !important;
}

.textProductsForce {
  text-transform: capitalize;
}